#head{
background-color: aliceblue;
width: 100vw;
height: 25vw;
}

.flex{
display: flex;
}

.left{
width: 50vw;
height: 50vw;
background-color: aliceblue;
}

.right{
    width: 50vw;
    height: 50vw;
    background-color: aliceblue;
}
.a{
    display: flex;
}

.b{
    width: 50vw;
    height:50vw;
    background-color: aliceblue;
}

.c{
    width: 50vw;
    height:50vw;
    background-color: aliceblue;
}

.d{
    display: flex;
}

.e{
width: 33.3vw;
height: 10vw;
background-color: black;

margin-right: 3px;

}
.f{
    width: 33.3vw;
    height: 10vw;
    background-color: black;
    
    margin-right: 3px;
    }

.g{
    width: 33.3vw;
    height: 10vw;
    background-color: black;
    
}